<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keyword"  content="{{ .Site.Params.keyword }}">
<title>{{ if .Title }}{{ .Title }}-{{ .Site.Params.SEOTitle }}{{ else }}{{ .Site.Params.SEOTitle }}{{ end }}</title>
<link rel="stylesheet" href='{{ "app.min.css" | relURL }}'>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src='{{ "vendor.min.js" | relURL }}'></script>
<script src='{{ "app.min.js" | relURL }}'></script>